*{
    text-decoration: none;
    font-family: 'Montserrat';
}
main{
    position:absolute;
    height: 100%;
    right: 244px;
    left: 244px;
}
.add-button {
    position: absolute;
    cursor: pointer;
    width: 50%;
    height: 56px;
    top: 50px;
    left: 20px;
    border: none;
    text-align: left;
    background: #EEBBC3;
    border-radius: 50px;
}
.add-button:hover, .add-button:focus, .expenses-button:hover,
 .expenses-button:focus, .str__delete-img-button:hover, .str__delete-img-button:focus{
    opacity: 0.8;
    outline-color:#ecb2ba;
}
.incomes-button:hover, .incomes-button:focus, .str__settings-img-button:hover, .str__settings-img-button:focus{
    background-color: #d4d8f06c;
    outline-color: #eebbc3;
}

.add-button__img {
    position: absolute;
    width: 18px;
    height: 18px;
    margin-left: 20px;
}

.add-button p {
    margin-left: 68px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

main h2 {
    position: absolute;
    width: 91px;
    height: 29px;
    left: 20px;
    top: 192px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1F1F1F;
}

.incomes-button {
    position: absolute;
    cursor: pointer;
    width: 287px;
    height: 55px;
    left: 20px;
    top: 251px;
    text-align: left;
    background-color: #d4d8f02f;
    border: none;
    border-radius: 50px;
}

.incomes-button p {
    margin-left: 33px;
    font-weight: 600;
    font-size: 12px;
}

.expenses-button {
    position: absolute;
    cursor: pointer;
    width: 287px;
    text-align: left;
    height: 55px;
    left: 330px;
    top: 251px;
    border: none;
    background: #EEBBC3;
    border-radius: 50px;
}

.expenses-button p {
    margin-left: 43px;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
}

.main-table {
    position: relative;
    width: 832px;
    height: 327px;
    left: 20px;
    top: 336px;
    background: #FFFFFF;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 19px;
    border-collapse: collapse;
}

.categories-table {
    position: absolute;
    width: 832px;
    height: 327px;
    left: 20px;
    top: 136px;
    background: #FFFFFF;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 19px;
    border-collapse: collapse;
}

.td-type {
    position: absolute;
    width: 34px;
    height: 17px;
    left: 88px;
    top: 62px;
    font-weight: 400;
    font-size: 14px;
    color: #AEAEAE;
}

.td-type-categories {
    position: absolute;
    width: 34px;
    height: 17px;
    left: 188px;
    top: 62px;
    font-weight: 400;
    font-size: 14px;
    color: #AEAEAE;
}

.td-date {
    position: absolute;
    width: 34px;
    height: 17px;
    left: 388.85px;
    top: 62px;
    font-weight: 400;
    font-size: 14px;
    color: #AEAEAE;
}

.td-amount {
    position: absolute;
    width: 59px;
    height: 17px;
    left: 578.38px;
    top: 62px;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #AEAEAE;
}

.main-table__str {
    position: absolute;
    width: 782.36px;
    height: 42.16px;
    right: 25px;
    top: 97px;
    border-bottom: 0.5px solid #ECECEC;
}

.settings-img {
    width: 20px;
    height: 20px;
}

.str__settings-img-button {
    position: absolute;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    right: 65px;
    top: 1.24px;
    border-radius: 20px;
    background: #EFEFEF;
}

.delete-img {
    width: 20px;
    height: 20px;
}

.str__delete-img-button {
    position: absolute;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    right: 25px;
    top: 1.24px;
    border-radius: 20px;
    background: #eebbc3;
}

.str__first-cl {
    position: absolute;
    width: 70px;
    height: 17px;
    left: 67px;
    font-weight: 500;
    font-size: 14px;
    color: #EEBBC3;
}

.str__first-cl-categories {
    position: absolute;
    width: 70px;
    height: 17px;
    left: 167px;
    font-weight: 500;
    font-size: 14px;
    color: #EEBBC3;
}

.str__second-cl {
    position: absolute;
    width: 83px;
    height: 17px;
    left: 367px;
    font-weight: 400;
    font-size: 14px;
    color: #C7C7C7;
}

.str__therd-cl {
    position: absolute;
    width: 70px;
    height: 17px;
    left: 557px;
    font-weight: 700;
    font-size: 14px;
    color: #404040;
}

.str__shop-img {
    position: absolute;
    width: 20.4px;
    height: 20.4px;
    left: 1.06px;
    top: 1.24px;
    background: #EFEFEF;
    border-radius: 4px;
}

@media screen and (max-aspect-ratio: 1/1) {
    main{
        position:absolute;
    }
    main h2{
        position: fixed;
        left: 10%;
    }
    .add-button {
        width: 80%;
        left: 10%;
        top: 120px;
        position:fixed;
    }
    .incomes-button {
        position: fixed;
        width: 80%;
        left: 10%;
    }
    .expenses-button {
        position: fixed;
        width: 80%;
        left: 10%;
        top: 315px;
        border: none;
        background: #EEBBC3;
        border-radius: 50px;
    }
    .main-table{
        position:fixed;
        top: 440px;
        width: 80%;
        height: 200px;
        left: 10%;
    }
    .td-type, .td-type-categories{
        position: fixed;
        left: 20%;
        top:480px;
    }
    .td-date, .str__shop-img, .str__second-cl{
        visibility: hidden;
    }
    .td-amount{
        position: fixed;
        left: 65%;
        top: 480px;
    }
    .str__first-cl, .str__first-cl-categories{
        position: fixed;
        left: 20%;
    }
    .str__therd-cl{
        position: fixed;
        left: 65%;
    }
    .main-table__str {
    position: absolute;
    width: 80%;
    left: 10%;
    }
    .str__delete-img-button{
        position: fixed;
        left: 65%;
        top: 400px;
    }
    .str__settings-img-button{
        position: fixed;
        left: 75%;
        top: 400px;
    }
    .categories-table{
        position:fixed;
        top: 440px;
        width: 80%;
        height: 200px;
        left: 10%;
    }
    
}